################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BSN.Commons/.vs/BSN.Commons/v15/Server/sqlite3
