################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*/.vs
/BSN.Commons/.vs/BSN.Commons/v15/Server/sqlite3
/BSN.Commons/packages
/BSN.Commons/BSN.Commons/bin
/BSN.Commons/BSN.Commons/obj
Source/BSN.Commons/bin
Source/BSN.Commons/obj
*.lock
*.dtbcache
/.vs/
/.vs/BSN.Commons/DesignTimeBuild/
/.vs/BSN.Commons/v15
/.vs/Commons/v15/.suo
/Build/tools
Test/BSN.Commons.Tests/bin
Test/BSN.Commons.Tests/obj
/Test/BSN.Commons.Tests/bin
/Test/BSN.Commons.Tests/obj
